SalesLedger/app.manifest.compatibility.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:schemas-microsoft-com:compatibility.v1"
           xmlns="urn:schemas-microsoft-com:compatibility.v1"
           elementFormDefault="qualified">

  <xs:element name="compatibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="application">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="supportedOS" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
