SalesLedger/app.manifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:schemas-microsoft-com:asm.v1"
           xmlns="urn:schemas-microsoft-com:asm.v1"
           xmlns:compat="urn:schemas-microsoft-com:compatibility.v1"
           elementFormDefault="qualified">

  <xs:import namespace="urn:schemas-microsoft-com:compatibility.v1" schemaLocation="app.manifest.compatibility.xsd"/>

  <!-- Root element definition -->
  <xs:element name="assembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assemblyIdentity" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="compat:compatibility" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="manifestVersion" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
